<h1>Héroe</h1>

<p>La palabra héroe proviene del griego antiguo ἥρως (hērōs) y podía ser aplicado tanto a hombres como a mujeres
  ilustres.
  El concepto apareció por primera vez en Grecia y fue aplicado en la cultura por Píndaro quien distingue entre dioses,
  héroes y hombres.​ A su vez Platón distingue entre dioses, démones o demonios, héroes y hombres. En la época arcaica
  Hesiodo define héroe como «semidiós» o «dios local» mientras que Aristóteles declara que los héroes eran, tanto física
  como moralmente, superiores a los hombres. Pero el significado moderno de héroe o semidiós aparece con latinos como
  Cicerón; y con el célebre Virgilio.</p>