<div *ngIf="hero">

  <h1 class="animated fadeIn"><img *ngIf="hero.universo=='DC'" src="assets/img/DC_logo.png" class="img_logo">
    <img *ngIf="hero.universo=='Marvel'" src="assets/img/Marvel_logo.png" class="img_logo"> {{ hero.nombre | uppercase
    }}
  </h1>
  <hr>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col animated fadeIn fast">
      <div class="card h-60 img-circle-card">
        <img [src]="hero.imagen" class="img-thumbnail img-circle">
        <div class="card-body">
          <h5 class="card-title"> {{ hero.estado | uppercase }} </h5>
        </div>

      </div>
    </div>
    <div class="col">
      <a [routerLink]="'/heroList'" class="btn btn-outline-danger btn-block">Regresasr</a>
    </div>
  </div>

</div>