<div class="container">
  <form [formGroup]="newHeroForm" (ngSubmit)="addNewHero(newHeroForm.value)">

    <!-- <h1 mat-dialog-title>Artículo</h1> -->
    <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; width: 500px; height: 300px; padding: 1rem;">

        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre">
          <small *ngIf="invalidName" class="form-text text-danger">Debe ingresar al menos 2 carácteres</small>
        </mat-form-field>

        <mat-radio-group formControlName="universo">
          <div class="form-group row mt-3" style="padding: 1rem;">

            <div class="form-row col">
              <div class="col">
                <strong>Universo:</strong>
              </div>
              <div class="col">
                <mat-radio-button value="Marvel">Marvel</mat-radio-button>
              </div>
              <div class="col">
                <mat-radio-button value="DC">DC</mat-radio-button>
              </div>
            </div>
          </div>
        </mat-radio-group>

        <mat-radio-group formControlName="estado" aria-label="Seleccione un estado">
          <div class="form-group row" style="padding: 1rem;">

            <div class="form-row col">
              <div class="col">
                <strong>Estado:</strong>
              </div>
              <div class="col">
                <mat-radio-button value="vivo">Vivo(a)</mat-radio-button>
              </div>
              <div class="col">
                <mat-radio-button value="muerto">Muerto(a)</mat-radio-button>
              </div>
            </div>
          </div>
        </mat-radio-group>


        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th>Poder:</th>
                  <!-- <th>Borrar</th> -->
                </tr>
              </thead>
              <tbody formArrayName="poderes">
                <tr *ngFor="let control of poderes.controls; let i = index">
                  <td>
                    <input class="form-control" type="text" [formControlName]="i">
                  </td>
                  <td>
                    <button (click)="removePower(i)" mat-stroked-button color="warn" class="btn-block">Quitar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" (click)="addPower()" mat-stroked-button color="primary"
              class="mb-5 btn-block">Añadir</button>
          </div>
        </div>

        <div class="container-input-file">
          <label class="custom-file">
            <div class="form-group row" style="padding: 1rem;">
              <strong>Imagen:</strong>
              <div class="form-row col">
                <div class="col">
                  <input type="file" formControlName="heroImage" (change)="handleImage($event)" />
                </div>
              </div>
            </div>
          </label>
        </div>

        <mat-form-field class="mt-5">
          <mat-label>Valoración:</mat-label>
          <input #valoracion autocomplete="off" type="text" matInput placeholder="Valoración"
            formControlName="valoracion">
          <small *ngIf="invalidValoration" class="form-text text-danger">El rango debe estár entre 0.0 - 5.0 y no usar
            comas.</small>
        </mat-form-field>

        <div class="row text-white">
          <div class="col-10">

            <star-rating *ngIf="!invalidValoration" [value]="valoracion.value" totalstars="5" checkedcolor="blue"
              uncheckedcolor="grey" size="40px" readonly="false"></star-rating>
          </div>
        </div>


        <div mat-dialog-actions class="mt-5">

          <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || newHeroForm.invalid">
            <i [ngClass]="{ 'fa fa-save': !loading, 'fas fa-sync-alt fa-spin': loading }"></i>
            <span *ngIf="!loading"> Guardar</span>
            <span *ngIf="loading"> Guardando</span>
          </button>

          <button class="btn btn-danger btn-block" [disabled]="loading" [mat-dialog-close]="true"><i
              class="fas fa-ban"></i>
            Cancelar</button>

          <!-- <button mat-raised-button color="warn" [disabled]="loading" [mat-dialog-close]="true">Cancelar</button> -->

          <!-- <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true">Guardar</button> -->

        </div>



      </div>
    </div>




  </form>
</div>