/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-container {
  /* margin-top: 40px; */
  margin-bottom: 50px;
}

.pointer {
  cursor: pointer;
}

.card-title,
.card-text {
  color: black;
}

.badge {
  margin-left: 5px;
}

.w120 {
  width: 120px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-circle {
  border-radius: 10%;
  max-height: 200px;
  max-width: 200px;
}

.img-circle-card {
  border-radius: 10%;
  max-height: 450px;
  max-width: 230px;
  margin: 20px 0px 0px 0px;
  padding: 15px;
}

.img_logo {
  width: 60px;
}

.img_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .img-thumb {
  max-height: 200px;
  max-width: 200px;
} */

.loading_box {
  position: fixed;
  top: 50%;
  left: 44%;
  width: 190px;
  height: 120px;
  border-radius: 10%;
  padding: 20px;
}

.hero_card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* margin: 5px; */
  max-height: 350px;
  max-width: 230px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.custom-input-file {
  background-color: #941b80;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 400px;
}

.custom-input-file .input-file {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:disabled {
  background-color: #283593;
}
